*.jpg binary
*.gif binary
*.png binary
*.zip binary
*.jar binary
*.a binary
*.tgz binary
*.gz binary
*.bz binary
*.bz2 binary
*.xz binary
*.lha binary
*.ppt binary
*.pptx binary
*.xls binary
*.xlsx binary
*.dvi binary
